<div class="extra-pagination inner">{% include author_pagination.html %}</div>

<!----------------------------------------------------------------------------------------------------------------------------------------->
<ul>
  {% if page.catagories == 'PixelZer' %}
	{% for tags in site.tags %}
	<article class="post">
        <header class="post-header">
			<h2 class="post-title"><a href="{{ site.baseurl }}/tag/dotnet">dotnet</a></h2>
        </header>
		<footer>
			C#, F#, VB.NET, .NET FRAMEWORK! This is my strongest coding language so brace yourself!
		</footer>
    </article>
	{% endfor %}
	{% endif %}
</ul>

<!----------------------------------------------------------------------------------------------------------------------------------------->
{% include author_pagination.html %}