 @import url(https://fonts.googleapis.com/css?family=Roboto);
 @import url(https://fonts.googleapis.com/css?family=Raleway:300,400);

@media only screen and (min-width: 0) {
  html {
    font-size: 14px;
  }
}

@media only screen and (min-width: 992px) {
  html {
    font-size: 14.5px;
  }
}

@media only screen and (min-width: 1200px) {
  html {
    font-size: 15px;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  line-height: 1.1;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  font-weight: inherit;
}

h1 {
  font-size: 3.0rem;
  line-height: 110%;
  margin: 2.1rem 0 1.68rem 0;
}

h2 {
  font-size: 2.56rem;
  line-height: 110%;
  margin: 1.78rem 0 1.424rem 0;
}

h3 {
  font-size: 2.02rem;
  line-height: 110%;
  margin: 1.46rem 0 1.168rem 0;
}

h4 {
  font-size: 1.68rem;
  line-height: 110%;
  margin: 1.14rem 0 0.912rem 0;
}

h5 {
  font-size: 1.40rem;
  line-height: 110%;
  margin: 0.82rem 0 0.656rem 0;
}

h6 {
  font-size: 1rem;
  line-height: 110%;
  margin: 0.5rem 0 0.4rem 0;
}

em {
  font-style: italic;
}

strong {
  font-weight: 900;
}

small {
  font-size: 75%;
}

.light, footer.page-footer .footer-copyright {
  font-weight: 300;
}

.thin {
  font-weight: 200;
}

.flow-text {
  font-weight: 300;
}

@media only screen and (min-width: 360px) {
  .flow-text {
    font-size: 1.2rem;
  }
}

@media only screen and (min-width: 390px) {
  .flow-text {
    font-size: 1.224rem;
  }
}

@media only screen and (min-width: 420px) {
  .flow-text {
    font-size: 1.248rem;
  }
}

@media only screen and (min-width: 450px) {
  .flow-text {
    font-size: 1.272rem;
  }
}

@media only screen and (min-width: 480px) {
  .flow-text {
    font-size: 1.296rem;
  }
}

@media only screen and (min-width: 510px) {
  .flow-text {
    font-size: 1.32rem;
  }
}

@media only screen and (min-width: 540px) {
  .flow-text {
    font-size: 1.344rem;
  }
}

@media only screen and (min-width: 570px) {
  .flow-text {
    font-size: 1.368rem;
  }
}

@media only screen and (min-width: 600px) {
  .flow-text {
    font-size: 1.392rem;
  }
}

@media only screen and (min-width: 630px) {
  .flow-text {
    font-size: 1.416rem;
  }
}

@media only screen and (min-width: 660px) {
  .flow-text {
    font-size: 1.44rem;
  }
}

@media only screen and (min-width: 690px) {
  .flow-text {
    font-size: 1.464rem;
  }
}

@media only screen and (min-width: 720px) {
  .flow-text {
    font-size: 1.488rem;
  }
}

@media only screen and (min-width: 750px) {
  .flow-text {
    font-size: 1.512rem;
  }
}

@media only screen and (min-width: 780px) {
  .flow-text {
    font-size: 1.536rem;
  }
}

@media only screen and (min-width: 810px) {
  .flow-text {
    font-size: 1.56rem;
  }
}

@media only screen and (min-width: 840px) {
  .flow-text {
    font-size: 1.584rem;
  }
}

@media only screen and (min-width: 870px) {
  .flow-text {
    font-size: 1.608rem;
  }
}

@media only screen and (min-width: 900px) {
  .flow-text {
    font-size: 1.632rem;
  }
}

@media only screen and (min-width: 930px) {
  .flow-text {
    font-size: 1.656rem;
  }
}

@media only screen and (min-width: 960px) {
  .flow-text {
    font-size: 1.68rem;
  }
}

@media only screen and (max-width: 360px) {
  .flow-text {
    font-size: 1.2rem;
  }
}
/*MOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO*/
/*"~-,._.,-~"~-,._.,-~"~-,._.,-~"~-| article.hentry |-,._.,-~"~-,._.,-~"~-,._.,-~"*/
article.hentry header div.entry-image-index
{
    background-repeat: no-repeat;
    background-size: cover;
    /*. width: 100%; */
    height: 50vh;
    /*. margin-bottom: 5rem; */
    /*. text-align: center; */
    background: rgba(17, 17, 17, 0.93) no-repeat center center;
    background-size: cover;
    overflow: hidden;
    
}
div.entry-header div.entry-image{
        background-image: Url("/images/PZ/Fractals/1.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        /* background-position-y: -50vw; */
        background-position: center -30vh;
        background-attachment: fixed;
        float: left;
        position: relative;
        float: left;
        position: relative;
        min-height: 0;
        max-height: 50vh;
        background-position-x: 50%;
}
.entry-image img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    /* margin-left: 25%; */
    min-width: 100%;
    /* min-height: 50%; */
    /* max-width: 100vh; */
        position: relative;
            min-height: 0;
}
/*
article.hentry header div.entry-image-index a img
{

    max-width: 100%;
    . max-height: 100%; 
    . margin-bottom: 5rem; 
    . text-align: center; 
    background: rgba(17, 17, 17, 0.93) no-repeat center center;
    background-size: cover;
    overflow: hidden;
    . background: center; 
    
}*/
article.hentry .read-more{

    padding-right: 0px;
    padding-left: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    text-decoration: none;
    box-shadow: none;
    /* margin-top: 10px; */

}

/*"~-,._.,-~"~-,._.,-~"~-,._.,-~"~-| First Child Normal pl0x |-,._.,-~"~-,._.,-~"~-,._.,-~"*/

/*#post .entry-content>p:first-child, #page .entry-content>p:first-child {
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.3;
    margin-bottom: 26px;
    margin-bottom: 1.625rem;
} say no to child favouritism!*/

/*"~-,._.,-~"~-,._.,-~"~-,._.,-~"~-| darker text |-,._.,-~"~-,._.,-~"~-,._.,-~"*/
body {
    font-family: "Lato",Calibri,Arial,sans-serif;
    color: rgba(34,34,34,0.95);
/*                       ^^^^
*/
}

h1,h2,h3,h4,h5,h6{
    font-family: "Raleway",Calibri,Arial,sans-serif;

}

a {
  text-decoration: none;
}

html {
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.87);
}


div.entry-header-home div.entry-image{
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    display: inline-block;
    max-width: 100%;
    max-height: 100vh;
    margin: 0;
    /* border: 3px solid #c99; */
    background-position: center center;
    background-size: cover;
    min-height: 100vh;
    background-image: url("/images/PZ/Night/5.jpg");
    position: initial;
    overflow: hidden;

}
/* @media screen and (max-aspect-ratio: 7/5) { */
    div.entry-header-home div.entry-image{
        max-height: 100vh;
        min-height: 50vh;
    }
/* } */

div.entry-header-home{
    width: 100%;
    overflow: hidden;
    position: relative;
}

div.entry-header-home div.header-title div.header-title wrap{
    display: table-cell;
    margin: auto;
    text-align: left;
    padding: 30vh;
}
/*div .entry-header-home div.entry-image img{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    min-width: 50%;
    min-height: 100vh;

    position: absolute;
     top: 0; 
    /* left: 0; 
    /* right: 0; 
    /* bottom: 0; 
    /* margin: auto; 
    /* min-width: 100vh; 
    /* min-height: 100vh; 
    /* width: auto; 
    /*min-width: 100vh;
    /* max-height: 100vh; 
}*/

div.entry-header-home div.header-title div.header-title-wrap{
    padding-top: 10%;
    text-align: left;
    padding-left: 20%;
    padding-right: 30%;
}
div.entry-header-home div.header-title div.header-title-wrap h1{
     text-align: center; 
    margin-left: 20%;
    margin-top: -20vh;
    position: relative;
    padding-top: 0;
     vertical-align: -webkit-baseline-middle; 
}
div.entry-header-home div.entry-image h1{
    padding-top: 20%;
    text-align: center;
    vertical-align: middle;
    line-height: 90px;
    position: relative;
    margin: 10px 20px;
    font-weight: 700;
    font-size: 32px;
    font-size: 7.5vw;
    color: rgba(85,85,85,0.8);
    margin: 10px;
    font-weight: 700;
    margin: 10px 60px;
    color: #fff;
    text-shadow: 1px 1px 4px rgba(34,34,34,0.6);

}
div.entry-header-home div.header-title div.header-title-wrap h2{
    margin-top: 5%;
    margin-left: 10%;
    text-transform: none;
}
div.entry-header-home div.header-title{
    height: 100vh;
}

/*BG colour*/
html{
    background-color: #b3b3b3;
}

/*TABS*/
.c-tab{
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
}

.c-tabs-nav__link.is-active {
    color: rgba(34,34,34,1);
}

/*---------QUOTES----*/
blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  margin-left: -28px;
  padding: 0.5em 10px 0.5em 28px;
  quotes: "\201C""\201D""\2018""\2019";
}
/*blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}*/
blockquote p {
  display: inline;
}
/*blockquote:after { color: #ccc; content: close-quote; font-size: 4em; line-height: 0.1em; margin-right: 0.25em; vertical-align: -0.4em; }*/
.c-tab {
background-color: white;
}
.c-tabs-nav__link {
background-color: rgba(34,34,34,1);
}

div.c-tabs-nav {
    background-color: #222;
}

#post-index article {
    /*box-shadow: none;
    border-bottom: #EBF2F6 1.5px solid;
    padding: 0 0 0 0;*/

    /*layout update 2016*/
    border-bottom: #EBF2F6 1.5px solid;
    padding: 5px 5px 5px 5px;
}
.main-header {
    position: relative;
    display: table;
    width: 100%;
    height: 100vh;
    margin-bottom: 5rem;
    text-align: center;
    background: #222 no-repeat center center;
    background-size: cover;
    overflow: hidden;
}

.main-header .inner {
    width: 80%;
}

.hentry img {
    max-width: 100%;
    height: auto;
    display: block;
    max-width: 100%;
    height: auto;
    padding: 0.6em 0;
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}
.footer-wrapper {
    margin: 0;
    text-align: center;
    color: rgba(85,85,85,0.8);
}

article.hentry .pzpost .entry-content p img {
    display: none;
}
body{
    background-color: white;
}
div.pzpost {
    margin-left: 290px;
    margin-left: 52%;
    height: 100%;
    z-index: 10;
    position: relative;
}
div.postimg {
    background-image: url(/images/PZ/Fractals/5.jpg);
    background-position: 50% 50%;
    margin: 10px 0px 10px;
    height: 150px;
    background-size: cover;
    width: 50%;
    height: 200px;
    float: left;
    height: 279px;
    position: absolute;
    height: 81%;
}
article.hentry {
    overflow: hidden;
    position: relative;
}
/*header.header-title{
    position: absolute;
    margin-top: 50vh;
}*/

/*@media only screen and (min-width: 62.5em)
#post .entry-content, #page .entry-content {
    max-width: 900px;
    margin: 50px auto 30px auto;
    padding: 50px 80px;
}*/

@media only screen and (max-width: 920px) {
    #post-index #main {
        zoom: 90%;
    }
    .c-tabs-nav__link {
    padding: 10px 0 5px 0;
    /* display: flex; */
    padding-left: 20px;
    }
    .c-tabs-nav__link i {
    margin-bottom: 0;
    }

    @media (max-width: 450px){
        div.entry-meta {
            zoom: 70%;
        }

        /*if < 450, postimgs go vertical layout*/
        div.postimg{
                background-repeat: no-repeat;
                background-size: cover;
                height: 50vh;
                background: rgba(17, 17, 17, 0.93) no-repeat center center;
                background-size: cover;
                overflow: hidden;
                /* margin: 0 0 0 0; */
                width: 100%;
                height: 19vh;
                position: relative;
                background-position: 50% 50%;
                background-size: 200%;
        }

        div.pzpost{
                width: 100%;
                margin-left: 5px;
        }
    }

}

.grid-pad {
    padding-top: 0;
    /* padding-left: 20px; */
    padding-right: 0;
    padding-right: 0;
}

.grid-pad a h2{
    background-color: #222;
    color: whitesmoke;
        padding: 8px;
    width: 98%;
}
.grid-pad a h2:hover{
    background-color: rgba(14, 52, 72, 0.9);
    color: whitesmoke;
    padding-left: 8px;
    width: 98%;
}

article.hentry[vertical="true"] {
    margin: 0 0 0 0;
}
article.hentry[vertical="true"] div.postimg{
            background-repeat: no-repeat;
            background-size: cover;
            height: 50vh;
            background: rgba(17, 17, 17, 0.93) no-repeat center center;
            background-size: cover;
            overflow: hidden;
            /* margin: 0 0 0 0; */
            width: 100%;
            height: 19vh;
            position: relative;
            background-position: 50% 50%;
            background-size: 200%;

            /*background-image: url(/images/PZ/bokeh.jpg);*/
    /* background-image: Url("/images/PZ/Fractals/1.jpg"); */
    background-size: cover;
    /* background-repeat: no-repeat; */
    /* background-position-y: -50vw; */
    /* background-position: center -30vh; */
    /* background-attachment: fixed; */
    /* float: left; */
    /* position: relative; */
    float: left;
    position: relative;
    min-height: 0;
    max-height: 70vh;

       /* visibility: hidden;
        position: absolute;*/
            height: 104px;
        }

    article.hentry[vertical="true"] div.pzpost{
        width: 100%;
        margin-left: 5px;
    }


    article.hentry[vertical="true"] div.entry-meta{
        visibility: hidden;
    position: absolute;
    }

    article.hentry[vertical="true"] div.pzpost header h1.entry-title{
        font-size: 1.3rem;
    }

    article.hentry[vertical="true"] div.pzpost div.entry-content{
        font-size: 1rem;
        line-height: 1.3rem;
    }

/*POSTOOOOOOOOOOOOOOOOOOOOOOOOO__+_+_+_+_+_+_+_+_+_+_OOOOOOO*/
.post-head.main-header {
    height: 65vh;
    min-height: 180px;
}
.no-cover.post-head.main-header {
    height: 85px;
    min-height: 0;
    margin-bottom: 0;
    background: transparent;
}

.tag-head.main-header {
    height: 40vh;
    min-height: 180px;
}

.author-head.main-header {
    height: 40vh;
    min-height: 180px;
}

.no-cover.author-head.main-header {
    height: 200%;
    min-height: 100px;
    background: transparent;
}

/* ==========================================================================
   7. Read More - Next/Prev Post Links
   ========================================================================== */

.read-next, .read-next-s {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    margin-top: 10rem;
}

.read-next-story {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    min-width: 50%;
    text-decoration: none;
    position: relative;
    text-align: center;
    color: #fff;
    background: #222 no-repeat center center;
    background-size: cover;
    overflow: hidden;
}
.read-next-s .read-next-story {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    min-width: 25%;
    text-decoration: none;
    position: relative;
    text-align: center;
    color: #fff;
    background: #222 no-repeat center center;
    background-size: cover;
    overflow: hidden;
}
.read-next-s{
    margin-top: 0;
    height: 180px;
}
.read-next-story:hover:before {
    background: rgba(0,0,0,0.8);
    transition: all 0.2s ease;
}
.read-next-story:hover .post:before {
    color: #222;
    background: #fff;
    transition: all 0.2s ease;
}

.read-next-story:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.7);
    transition: all 0.5s ease;
}

.read-next-story .post {
    padding-top: 6rem;
    padding-bottom: 6rem;
}

.read-next-story .post:before {
    content: "<< Next";
    padding: 4px 10px 5px;
    text-transform: uppercase;
    font-size: 1.1rem;
    font-family: "Open Sans", sans-serif;
    color: rgba(255,255,255,0.8);
    border: rgba(255,255,255,0.5) 1px solid;
    border-radius: 4px;
    transition: all 0.5s ease;
}
.read-next-story.prev .post:before {
    content: "Previous >>";
}
.read-next .read-next-story .post:before {
    content: "You Might Enjoy";
}

.read-next-story h2 {
    margin-top: 1rem;
    color: #fff;
}

.read-next-story p {
    margin: 0;
    color: rgba(255,255,255,0.8);
}

/* Special styles for posts with no cover images */
.read-next-story.no-cover {
    background: #f5f8fa;
}

.read-next-story.no-cover:before {
    display: none;
}

.read-next-story.no-cover .post:before {
    color: rgba(0,0,0,0.5);
    border-color: rgba(0,0,0,0.2);
}

.read-next-story.no-cover h2 {
    color: rgba(0,0,0,0.8);
}

.read-next-story.no-cover p {
    color: rgba(0,0,0,0.5);
}

/* if there are two posts without covers, put a border between them */
.read-next-story.no-cover + .read-next-story.no-cover {
    border-left: rgba(0,0,100,0.04) 1px solid;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* Correctly position site-footer when next to the .read-next container */
.read-next + .site-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
}

/* ==========================================================================
   8. Third Party Elements - Embeds from other services
   ========================================================================== */

/* Github */
.gist table {
    margin: 0;
    font-size: 1.4rem;
}
.gist td {
    line-height: 1.4;
}
.gist .line-number {
    min-width: 25px;
}

/* Pastebin */
.content .embedPastebin {
    margin-bottom: 1.75em;
}
.content .embedPastebin {
    margin-bottom: 1.75em;
}
.post-template .content {
    overflow: hidden;
}
.post-template .post {
    margin-top: 0;
    border-bottom: none;
    padding-bottom: 0;
}

/* Kill that stylish little circle that was on the border, too */
.post-template .post:after {
    display: none;
}

.footnotes {
    font-style: italic;
    font-size: 1.3rem;
    line-height: 1.6em;
}

.footnotes li {
    margin: 0.6rem 0;
}

.footnotes p {
    margin: 0;
}

.footnotes p a:last-child {
    text-decoration: none;
}


/* The author credit area after the post */
.post-footer {
    position: relative;
    margin: 6rem 0 0 0;
    padding: 6rem 0 0 0;
    border-top: #EBF2F6 1px solid;
}

.post-footer h4 {
    font-size: 1.8rem;
    margin: 0;
}

.post-footer p {
    margin: 1rem 0;
    font-size: 1.4rem;
    line-height: 1.75em;
}

/* list of author links - location / url */
.author-meta {
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: 1.4rem;
    line-height: 1;
    font-style: italic;
    color: #9EABB3;
}

.author-meta a {
    color: #9EABB3;
    border: whitesmoke;
    border-width: thick;
    font-weight: 800;
}
.author-meta a:hover {
    color: #111;
}

/* Create some space to the right for the share links */
.post-footer .author {
    margin-right: 180px;
}

.post-footer h4 a {
    color: #2e2e2e;
    text-decoration: none;
}

.post-footer h4 a:hover {
    text-decoration: underline;
}

/* Drop the share links in the space to the right.
   Doing it like this means it's easier for the author bio
   to be flexible at smaller screen sizes while the share
   links remain at a fixed width the whole time */
.post-footer .share {
    position: absolute;
    top: 6rem;
    right: 0;
    width: 140px;
}

.post-footer .share a {
    font-size: 1.8rem;
    display: inline-block;
    margin: 1rem 1.6rem 1.6rem 0;
    color: #BBC7CC;
    text-decoration: none;
}

.post-footer .share .icon-twitter:hover {
    color: #55acee;
}
.post-footer .share .icon-facebook:hover {
    color: #3b5998;
}
.post-footer .share .icon-google-plus:hover {
    color: #dd4b39;
}
.gist table {
    margin: 0;
    font-size: 1.4rem;
}
.gist td {
    line-height: 1.4;
}
.gist .line-number {
    min-width: 25px;
}

/* Pastebin */
.content .embedPastebin {
    margin-bottom: 1.75em;
}
.post-meta {
        font-size: 1.3rem;
        margin-top: 1rem;
    }


    .post-footer {
        padding: 5rem 0 3rem 0;
        text-align: center;
    }

    .post-footer .author {
        margin: 0 0 2rem 0;
        padding: 0 0 1.6rem 0;
        border-bottom: #EBF2F6 1px dashed;
    }

    .post-footer .share {
        position: static;
        width: auto;
    }

    .post-footer .share a {
        margin: 1.4rem 0.8rem 0 0.8rem;
    }

    .author-meta li {
        float: none;
        margin: 0;
        line-height: 1.75em;
    }

    .author-meta li:before {
        display: none;
    }

    .older-posts,
    .newer-posts {
        position: static;
        margin: 10px 0;
    }

    .page-number {
        display: block;
    }

    .site-footer {
        margin-top: 3rem;
    }

    .author-profile {
        padding-bottom: 2rem;
    }

    .post-head.main-header {
        height: 30vh;
    }

    .tag-head.main-header,
    .author-head.main-header {
        height: 20vh;
    }

    .author-profile .author-image {
        margin-top: -70px;
    }

    .author-profile .author-meta span {
        font-size: 1.4rem;
    }

    .archive-template .main-header .page-description {
        display: none;
    }

    .read-next {
        margin-top: 2rem;
        margin-bottom: -37px;
    }
    .read-next-s .post{
        padding-top: 2rem;
    }

    .read-next .post, .read-next-s .post {
        width: 100%;
        transform: translateZ(1px);
    }
body:not(.post-template) .post-title {
    font-size: 200%;
    margin-bottom: 0px;
    margin-top: 0px;
}

.post-title a {
    text-decoration: none;
}

.post-excerpt p {
    margin: 0;
    font-size: 0.9em;
    line-height: 1.7em;
}

.read-more {
    text-decoration: none;
}

.post-meta {
    display: block;
    margin: 0.5rem 0 0 0;
    font-family: "Open Sans", sans-serif;
    /* font-size: 1.5rem; */
    /* line-height: 2.2rem; */
    color: #9EABB3;
    font-size: 100%;
    margin-top: 10px;
}

.author-thumb {
    width: 24px;
    height: 24px;
    float: left;
    margin-right: 9px;
    border-radius: 100%;
}

.post-meta a {
    color: #9EABB3;
    text-decoration: none;
}

.post-meta a:hover {
    text-decoration: underline;
}

.user-meta {
    position: relative;
    padding: 0.3rem 40px 0 100px;
    min-height: 77px;
}

.post-date {
    /* display: inline-block; */
    margin-left: 8px;
    padding-left: 12px;
    border-left: #d5dbde 1px solid;
    text-transform: uppercase;
    /* font-size: 1.3rem; */
    white-space: nowrap;
}

.post-template .post-header {
    margin-bottom: 3.4rem;
}

.post-template .post-title {
    margin-bottom: 0;
}

.post-template .post-meta {
    margin: 0;
}

.post-template .post-date {
    padding: 0;
    margin: 0;
    border: none;
}

/* Stop elements, such as img wider than the post content, from
   creating horizontal scroll - slight hack due to imperfections
   with browser width % calculations and rounding */
.post-template .content {
    overflow: hidden;
}

/* Tweak the .post wrapper style */
.post-template .post {
    margin-top: 0;
    border-bottom: none;
    padding-bottom: 0;
}

/* Kill that stylish little circle that was on the border, too */
.post-template .post:after {
    display: none;
}

/* Keep images centered, and allow images wider than the main
   text column to break out. */
/*.post-content img {
    display: block;
    max-width: 126%;
    height: auto;
    padding: 0.6em 0;
     Centers an image by (1) pushing its left edge to the
       center of its container and (2) shifting the entire image
       in the opposite direction by half its own width.
       Works for images that are larger than their containers. 
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%); /* for Safari and iOS 
    -ms-transform: translateX(-50%); for IE9 
    transform: translateX(-50%);
}*/

.footnotes {
    font-style: italic;
    font-size: 1.3rem;
    line-height: 1.6em;
}

.footnotes li {
    margin: 0.6rem 0;
}

.footnotes p {
    margin: 0;
}

.footnotes p a:last-child {
    text-decoration: none;
}


/* The author credit area after the post */
.post-footer {
    position: relative;
    margin: 6rem 0 0 0;
    padding: 6rem 0 0 0;
    border-top: #EBF2F6 1px solid;
}

.post-footer h4 {
    font-size: 1.8rem;
    margin: 0;
}

.post-footer p {
    margin: 1rem 0;
    font-size: 1.4rem;
    line-height: 1.75em;
}

/* list of author links - location / url */
.author-meta {
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: 1.4rem;
    line-height: 1;
    font-style: italic;
    color: #9EABB3;
}

.author-meta a {
    color: #9EABB3;
    border: whitesmoke;
    border-width: thick;
    font-weight: 800;
}
.author-meta a:hover {
    color: #111;
}

/* Create some space to the right for the share links */
.post-footer .author {
    margin-right: 180px;
}

.post-footer h4 a {
    color: #2e2e2e;
    text-decoration: none;
}

.post-footer h4 a:hover {
    text-decoration: underline;
}

/* Drop the share links in the space to the right.
   Doing it like this means it's easier for the author bio
   to be flexible at smaller screen sizes while the share
   links remain at a fixed width the whole time */
.post-footer .share {
    position: absolute;
    top: 6rem;
    right: 0;
    width: 140px;
}

.post-footer .share a {
    font-size: 1.8rem;
    display: inline-block;
    margin: 1rem 1.6rem 1.6rem 0;
    color: #BBC7CC;
    text-decoration: none;
}

.post-footer .share .icon-twitter:hover {
    color: #55acee;
}
.post-footer .share .icon-facebook:hover {
    color: #3b5998;
}
.post-footer .share .icon-google-plus:hover {
    color: #dd4b39;
}

table {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 1.75em 0;
    width: 100%;
    max-width: 100%;
    background-color: transparent;
}

table th,
table td {
    padding: 8px;
    line-height: 20px;
    text-align: left;
    vertical-align: top;
    border-top: #EFEFEF 1px solid;
}

table th { color: #000; }

table caption + thead tr:first-child th,
table caption + thead tr:first-child td,
table colgroup + thead tr:first-child th,
table colgroup + thead tr:first-child td,
table thead:first-child tr:first-child th,
table thead:first-child tr:first-child td {
    border-top: 0;
}
table caption + thead tr:first-child th,
table caption + thead tr:first-child td,
table colgroup + thead tr:first-child th,
table colgroup + thead tr:first-child td,
table thead:first-child tr:first-child th,
table thead:first-child tr:first-child td {
    border-top: 0;
}

table tbody + tbody { border-top: #EFEFEF 2px solid; }

table table table { background-color: #FFF; }

table tbody > tr:nth-child(odd) > td,
table tbody > tr:nth-child(odd) > th {
    background-color: #F6F6F6;
}

table.plain tbody > tr:nth-child(odd) > td,
table.plain tbody > tr:nth-child(odd) > th {
    background: transparent;
}

iframe, .fluid-width-video-wrapper {
    display: block;
    margin: 1.75em 0;
}

/* When a video is inside the fitvids wrapper, drop the
margin on the iframe, cause it breaks stuff. */
.fluid-width-video-wrapper iframe {
    margin: 0;
}

    .post-footer .share {
        position: static;
        width: auto;
    }

    .post-footer .share a {
        margin: 1.4rem 0.8rem 0 0.8rem;
    }

.icon-feed:before {
    content: "\f601";
}
.icon-twitter:before {
    content: "\f602";
    font-size: 1.1em;
}
.icon-google-plus:before {
    content: "\f603";
}
.icon-facebook:before {
    content: "\f604";
}
.icon-arrow-left:before {
    content: "\f605";
}
.icon-stats:before {
    content: "\f606";
}
.icon-location:before {
    content: "\f607";
    margin-left: -3px; /* Tracking fix */
}
.icon-link:before {
    content: "\f608";
}
.icon-menu:before {
    content: "\f609";
}
.post-footer {
    position: relative;
    margin: 6rem 0 0 0;
    padding: 6rem 0 0 0;
    border-top: #EBF2F6 1px solid;
}

.post-footer h4 {
    font-size: 1.8rem;
    margin: 0;
}

.post-footer p {
    margin: 1rem 0;
    font-size: 1.4rem;
    line-height: 1.75em;
}

/* list of author links - location / url */
.author-meta {
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: 1.4rem;
    line-height: 1;
    font-style: italic;
    color: #9EABB3;
}


/*END POSTOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO*/

.entry-image{
    position: static;
}

#post .entry-content, #page .entry-content {
    box-shadow: none;
}
html, body{
    background-color: white;
}

h2.subjhead{
    height: 3rem;
    font-size: 1.7rem;
}

/*______________________ UPDATES TO HOME TITLE _________________ 3/30/2016*/
div.entry-header-home{
        padding: 6% 0;
    background: #222;
}
div.titleholder{
        max-width: 1320px;
    text-align: center;
    margin: auto;
    padding: 20px;
    font-size: 0;
}
div.titleholder div{
        /* text-align: center; */
    font-size: 1.25rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 20px;
    display: inline-block;
    vertical-align: top;
    /* text-align: left; */
    width: 100%;
    text-align: center;
}
div.titleholder div h1{
        /* text-align: center; */
    /* vertical-align: middle; */
    /* line-height: 90px; */
    /* padding-left: 50%; */
    color: #fff;
    font-size: 7vw;
    /* font-weight: bold; */
    line-height: 1.4;
    margin-left: 0;
}
/*________________________________________________________anim_____________________________________*/
.floating{
    /*float: left;*/
    -webkit-animation-name: Floatingx;
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    -moz-animation-name: Floating;
    -moz-animation-duration: 3s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;

}

@-webkit-keyframes Floatingx{
    from {-webkit-transform:translate(0, 0px);}
    65% {-webkit-transform:translate(0, 15px);}
    to {-webkit-transform: translate(0, -0px);    }    
}
    
@-moz-keyframes Floating{
    from {-moz-transform:translate(0, 0px);}
    65% {-moz-transform:translate(0, 15px);}
    to {-moz-transform: translate(0, -0px);}    
}

@media handheld, only screen and (max-width: 767px){
    .col-2-12{
        width: 50%;
        float: left;
    }
    div.c-tab__content{
        padding: 0;
    }
}

/*disqus box rem*/
#post #disqus_thread, #page #disqus_thread {
    box-shadow: none;
    background-color: transparent;
    position: relative;
    height: auto;
    padding: 0;
}

a:visited {
    color: black;
    /* text-decoration: underline; */
}
a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    /* text-decoration: underline; */
}
a:hover{
  text-decoration: underline;
}
img{
    display: block;
    margin: 0 auto;
}


/*pgrid stuff*/
.pgrid {
    padding: 20px 20px 100px 20px;
    max-width: 1300px;
    margin: 0 auto;
    list-style: none;
    text-align: center;
}

.pgrid li {
    display: inline-block;
    width: 340px;
    margin: 0;
    padding: 5px;
    text-align: left;
    position: relative;
}

.pgrid figure {
    margin: 0;
    position: relative;
}

.pgrid figure .img {
    max-width: 100%;
    display: block;
    position: relative;
}

.pgrid a {
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px;
    background: rgba(34,34,34,1);
    color: whitesmoke;
}
.pgrid a:hover {
    background-color: rgba(14, 52, 72, 1);
}

.pgrid a h3 {
    margin: 0;
    padding: 0;
    color: #fff;
}

/*.pgrid a span:before {
    content: 'by ';
}*/

.pgrid a a {
 /*   text-align: center;
    padding: 5px 10px;
    border-radius: 2px;
    display: inline-block;
    background: #ed4e6e;
    color: #fff;*/
}

@media screen and (max-width: 500px) {
    .pgrid {
        padding: 0 0 0 0;
        max-width: 1300px;
    margin: 0 auto;
    list-style: none;
    text-align: center;
    }
    .pgrid li {
        width: 100%;
        /*min-width: 300px;*/
            padding: 0;
    }

}

@media screen and (max-width: 960px) {
    /*act like it is hovered*/
    .cs-style-3 figure .img {
    transform: translateY(-50px);
}
.no-touch .cs-style-3 figure img,
.cs-style-3 figure img {
    transform: translateY(-50px);
}
.no-touch .cs-style-3 figure a,
.cs-style-3 figure a {
    opacity: 1;
    transform: translateY(0px);
    transition: transform 0.4s, opacity 0.1s, background-color 0.3s;
}

}

.cs-style-3 figure {
    overflow: hidden;
}

.cs-style-3 figure .img {
    transition: transform 0.4s;
}

.no-touch .cs-style-3 figure:hover .img,
.cs-style-3 figure.cs-hover img {
    transform: translateY(-50px);
}

.cs-style-3 a.linkbox {
    height: 110px;
    width: 100%;
    top: auto;
    bottom: 0;
    opacity: 0;
    transform: translateY(100%);
    transition: transform 0.4s, opacity 0.1s, background-color 0.3s;
}

.no-touch .cs-style-3 figure:hover a,
.cs-style-3 figure.cs-hover a {
    opacity: 1;
    transform: translateY(0px);
    transition: transform 0.4s, opacity 0.1s, background-color 0.3s;
}

.cs-style-3 a a {
   /* position: absolute;
    bottom: 20px;
    right: 20px;*/
    }


/*grid*/

@media handheld, only screen and (max-width: 767px) {
    .grid {
        width: 100%;
        min-width: 0;
        margin-left: 0;
        margin-right: 0;
        padding-left: 0px; /* grid-space to left */
        padding-right: 10px; /* grid-space to right: (grid-space-left - column-space) e.g. 20px-10px=10px */
        padding-right: 0;
    }
    }

    /*no margin*/
    .nm{
            margin: 0 0 0 0;
            max-width: none;
            padding-right: 0;
    }

    /*reset*/
.reset {
    animation : none;
    animation-delay : 0;
    animation-direction : normal;
    animation-duration : 0;
    animation-fill-mode : none;
    animation-iteration-count : 1;
    animation-name : none;
    animation-play-state : running;
    animation-timing-function : ease;
    backface-visibility : visible;
    background : 0;
    background-attachment : scroll;
    background-clip : border-box;
    background-color : transparent;
    background-image : none;
    background-origin : padding-box;
    background-position : 0 0;
    background-position-x : 0;
    background-position-y : 0;
    background-repeat : repeat;
    background-size : auto auto;
    border : 0;
    border-style : none;
    border-width : medium;
    border-color : inherit;
    border-bottom : 0;
    border-bottom-color : inherit;
    border-bottom-left-radius : 0;
    border-bottom-right-radius : 0;
    border-bottom-style : none;
    border-bottom-width : medium;
    border-collapse : separate;
    border-image : none;
    border-left : 0;
    border-left-color : inherit;
    border-left-style : none;
    border-left-width : medium;
    border-radius : 0;
    border-right : 0;
    border-right-color : inherit;
    border-right-style : none;
    border-right-width : medium;
    border-spacing : 0;
    border-top : 0;
    border-top-color : inherit;
    border-top-left-radius : 0;
    border-top-right-radius : 0;
    border-top-style : none;
    border-top-width : medium;
    bottom : auto;
    box-shadow : none;
    box-sizing : content-box;
    caption-side : top;
    clear : none;
    clip : auto;
    color : inherit;
    columns : auto;
    column-count : auto;
    column-fill : balance;
    column-gap : normal;
    column-rule : medium none currentColor;
    column-rule-color : currentColor;
    column-rule-style : none;
    column-rule-width : none;
    column-span : 1;
    column-width : auto;
    content : normal;
    counter-increment : none;
    counter-reset : none;
    cursor : auto;
    direction : ltr;
    display : inline;
    empty-cells : show;
    float : none;
    font : normal;
    font-family : inherit;
    font-size : medium;
    font-style : normal;
    font-variant : normal;
    font-weight : normal;
    height : auto;
    hyphens : none;
    left : auto;
    letter-spacing : normal;
    line-height : normal;
    list-style : none;
    list-style-image : none;
    list-style-position : outside;
    list-style-type : disc;
    margin : 0;
    margin-bottom : 0;
    margin-left : 0;
    margin-right : 0;
    margin-top : 0;
    max-height : none;
    max-width : none;
    min-height : 0;
    min-width : 0;
    opacity : 1;
    orphans : 0;
    outline : 0;
    outline-color : invert;
    outline-style : none;
    outline-width : medium;
    overflow : visible;
    overflow-x : visible;
    overflow-y : visible;
    padding : 0;
    padding-bottom : 0;
    padding-left : 0;
    padding-right : 0;
    padding-top : 0;
    page-break-after : auto;
    page-break-before : auto;
    page-break-inside : auto;
    perspective : none;
    perspective-origin : 50% 50%;
    position : static;
    quotes : '\201C' '\201D' '\2018' '\2019';
    right : auto;
    tab-size : 8;
    table-layout : auto;
    text-align : inherit;
    text-align-last : auto;
    text-decoration : none;
    text-decoration-color : inherit;
    text-decoration-line : none;
    text-decoration-style : solid;
    text-indent : 0;
    text-shadow : none;
    text-transform : none;
    top : auto;
    transform : none;
    transform-style : flat;
    transition : none;
    transition-delay : 0s;
    transition-duration : 0s;
    transition-property : none;
    transition-timing-function : ease;
    unicode-bidi : normal;
    vertical-align : baseline;
    visibility : visible;
    white-space : normal;
    widows : 0;
    width : auto;
    word-spacing : normal;
    z-index : auto;
}

/*project*/

.titleholder.project {
    margin-top: 10vh;
}

h2{
        font-size: xx-large;
}

nav{
        background-color: transparent;
    box-shadow: none;
}
p code, li code {
font-size: inherit;
}

pre {
    font-size: 13px;
}
.rel
{
    position: relative;
    z-index: 5;
}

/*hjdist*/
ul.hjdist {
    text-align: justify;
}
ul.hjdist:after {
    content: '';
    display: inline-block;
    width: 100%;
}
ul.hjdist:before {
    content: '';
    display: block;
    margin-top: -1.25em;
}
ul.hjdist li {
    display: inline-block;
    margin-right: -.25em;
    position: relative;
    top: 1.25em;
}

/*hdist*/
ul.hdist li{
    display:inline;
}
ul.hdist{
        padding: 0;
}


#floatingSocialShare {
    z-index: 100;
}

.pics img{
    max-width: 300px;
    padding: 10px;
    cursor: -webkit-zoom-in;
}
.pics{
   /* -webkit-box-shadow: 0px -7px 13px 2px rgba(0,0,0,0.75);
    box-shadow: 0px -7px 13px 2px rgba(0,0,0,0.75);*/
   border-bottom: 2px solid lightgrey;
   background-color: #3e3e3e;
}

.owl-theme .owl-controls .owl-nav [class*='owl-'] {
    background: transparent;
}

.owl-carousel .owl-stage-outer {
    padding-top: 10px;
}

.entry-header {
    background-color: rgba(34,34,34,0.95);
}
/*--------------------------------------------------*/

.borderbutton{
    border: 2px solid white;
    background-color: transparent;
}

.borderbutton:hover,
.borderbutton:focus {
  background: rgb(255,255,255);
  color: rb(0,0,0);
  z-index: 5;
}
/*depr*/

.row{
        border-top: 1px solid grey;
        position: relative;
        height: 100%;
        background-color: whitesmoke;
        min-width: 0;
}

.row .title{
    margin-bottom: 0!important;
}

.row .date{
    color: grey;
    margin-top: 0!important;
    font-size: 1.1rem;
}

.releases-holder{
    width: 100%;
    position: relative;
    padding-top: 0;
}

.row .button{
    margin-top: 1.46rem;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 10px;
}

.side-plat{

    display: block;
    text-align: center;
    border: none;
    height: 40px;
    padding: 0 14px;
    -webkit-box-shadow: inset 0 -3px 0 0 rgba(0, 0, 0, 0.15);
    -moz-box-shadow: inset 0 -3px 0 0 rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 -3px 0 0 rgba(0, 0, 0, 0.15);
    font-size: 18px;
    line-height: 37px;
    background: #fafafa;
    color: #222;
    z-index: 5;

    margin-top: 1.46rem;
    margin-right: 0px;
    margin-left: 0px;

    background: #363636;
    color: #fafafa;
    z-index: 5;


    float: left;
    border-radius: 0;
    border-right: 2px solid whitesmoke;
}

.platform{
        float: left;
    padding-right: 10px;
}

@media only screen and (max-width: 767px) {
  .avoid-sbar{
    padding-left: 15px;
  }
}
@media only screen and (min-width: 961px) {
  .avoid-sbar{
    padding-left: 54px;
  }
}
@media only screen and (min-width: 1139px){
    .avoid-sbar{
    padding-left: 51px;
  }
}
  @media only screen and (min-width: 1142px){
    .avoid-sbar{
    padding-left: 48px;
  }
}

/*override:*/
.changelog{
    box-shadow: none;
}

.changelog ul{
    color: white;
    padding-left: 10px;
}

@media handheld, only screen and (min-width: 0px) {
    /*small*/
ul.changelog, .changelog ul {
        padding: 0;
    margin: 0;
    list-style: none
}

.changelog label{
    padding: 0;
    padding-left: 78px;
    font-size: 17px;
}
.changelog ul ul label, .changelog ul ul a{
    padding-left: 55px;
}
.changelog ul label, .changelog ul a {
    padding-left: 70px;
}

.changelog label::after,
  .changelog a::after {
    content: none;
  }

.changelog label::before,
  .changelog a::before {
    left: 30px;
  }
.changelog a{
    font-size: 17px;
    padding: 0;
}

.changelog li a{
    padding-left: 30px;
}
/*override:*/
.changelog{
    box-shadow: none;
}

.changelog ul{
    color: white;
    padding-left: 10px;
}
}

@media handheld, only screen and (min-width: 260px) {
    /*big*/
ul.changelog, .changelog ul {
        padding: 0;
    margin: 0;
    list-style: none
}
.changelog label{
    /*padding: 0;*/
    /*padding-left: 78px;*/
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 17px;
}
.changelog a{
    font-size: 17px;
    padding-top: 10px;
    padding-bottom: 10px;

}
}
/*def*/

@media handheld, only screen and (min-width: 766px) {
    /*small*/
ul.changelog, .changelog ul {
        padding: 0;
    margin: 0;
    list-style: none
}

.changelog label{
    padding: 0;
    padding-left: 78px;
    font-size: 17px;
}
.changelog ul ul label, .changelog ul ul a{
    padding-left: 55px;
}
.changelog ul label, .changelog ul a {
    padding-left: 70px;
}

.changelog label::after,
  .changelog a::after {
    content: none;
  }

.changelog label::before,
  .changelog a::before {
    left: 30px;
  }
.changelog a{
    font-size: 17px;
    padding: 0;
}

.changelog li a{
    padding-left: 30px;
}
/*override:*/
.changelog{
    box-shadow: none;
}

.changelog ul{
    color: white;
    padding-left: 10px;
}
}

@media handheld, only screen and (min-width: 1080px) {
    /*big*/
ul.changelog, .changelog ul {
        padding: 0;
    margin: 0;
    list-style: none
}
.changelog label{
    /*padding: 0;*/
    /*padding-left: 78px;*/
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 17px;
}
.changelog a{
    font-size: 17px;
    padding-top: 10px;
    padding-bottom: 10px;

}
/*override:*/
.changelog{
    box-shadow: none;
}

.changelog ul{
    color: white;
    padding-left: 10px;
}

}

/*override:*/
.changelog{
    box-shadow: none;
}

.changelog ul{
    color: white;
    padding-left: 10px;
}

img.mfp-img, button.mfp-close, .lb-nav {
    cursor: pointer;
}

.grid-pad{
    padding-right: 0;
}

p {
    overflow: auto;
}

iframe{
    border: 1px solid transparent;
    width: 100%;
    min-height: 60vh;
    margin: initial;
    display: initial;
}

.icontent{
    padding: 0 50px 0 50px;
    padding-top: 5vh;
}

@media handheld, only screen and (max-width: 961px) {
    .icontent{
    padding: 0;
}
    }
#disqus_thread{
        padding: 10px;
}

/*------------------------------------------------------------------------------------- the dark theme -----------------------------------------------------------------------------------------*/
html.theme-dark footer, html.theme-dark div#main, html.theme-dark, html.theme-dark body {
background-color: rgba(34,34,34,0.95);
}
html.theme-dark h1, html.theme-dark h2, html.theme-dark h3, html.theme-dark h4, html.theme-dark h5, html.theme-dark h6, html.theme-dark p, html.theme-dark span{
    color: rgba(250, 250, 250, 0.7);
}

.latex{
        font-size: 1.5em;
}

.tag-heading {
    margin-top: 0;
    padding: 10px;
    padding-bottom: 0;
}

table thead{
  background-color: gainsboro;
}

tr.gray, tr.gray *{
    color: rgba(0, 0, 0, 0.15);
}

a.ghost-button-transition:visited{
color: #fff;
}
a.ghost-button-transition:hover{
color: #222;
}

.noglyphs i:before{
  content: "";
}

p{
  overflow: hidden;
}

.buttons .c-tabs-nav {
    background-color: #191919;
}

.affix {
      top: 0;
      width: 100%;
      position: fixed;
      z-index: 999;
  }

div#releases{
      position: relative;
    width: 100%;
    padding-top: 66px;
    margin-top: -66px;
}

@media only screen and (max-width: 767px) {
  div.entry-header div.entry-image {
    background-attachment: initial;
    background-position: 0;
    background-position-x: 50%;
  }
  div.titleholder div h1 {
    font-size: 52px;
    padding-left: 150px;
    padding-right: 150px;
  }
  .entry-header-home div.titleholder div h1 {
    font-size: 52px;
    padding-left: 0px;
    padding-right: 0px;
  }
}

@media only screen and (min-width: 1434px) {
  div.titleholder div h1 {
    font-size: 100px;
  }
}

@media only screen and (max-height: 540px) {
  div.entry-header div.entry-image {
    max-height: 270px;
}
}

.projimg{
      background-image: Url(/assets/images/bokeh.jpg);
    /* max-height: 340px; */
    /* max-width: 340px; */
    /* background-image: Url("/images/PZ/Fractals/1.jpg"); */
    background-size: cover;
    background-repeat: no-repeat;
    /* background-position-y: -50vw; */
    background-position: center -30vh;
    background-attachment: fixed;
    /* float: left; */
    position: relative;
    /* float: left; */
    position: relative;
    min-height: 340px;
    min-width: 340px;
    /* max-height: 50vh; */
    /* background-position-x: 50%; */
    background-attachment: initial;
    background-position: 0;
    background-position-x: 50%;
}

.cs-style-3 figure .projimg {
    transition: transform 0.4s;
}

.no-touch .cs-style-3 figure:hover .projimg,
.cs-style-3 figure.cs-hover img {
    transform: translateY(-50px);
}

.cs-style-3 a.imglink{
  background: transparent;
  width: 100%;
  height: 100%;
}