/*"~-,._.,-~"~-,._.,-~"~-,._.,-~"~-| article.hentry |-,._.,-~"~-,._.,-~"~-,._.,-~"*/
article.hentry header div.entry-image-index
{
	background-repeat: no-repeat;
	background-size: cover;
    /*. width: 100%; */
    height: 50vh;
    /*. margin-bottom: 5rem; */
    /*. text-align: center; */
    background: rgba(17, 17, 17, 0.93) no-repeat center center;
    background-size: cover;
    overflow: hidden;
    
}
/*
article.hentry header div.entry-image-index a img
{

    max-width: 100%;
    . max-height: 100%; 
    . margin-bottom: 5rem; 
    . text-align: center; 
    background: rgba(17, 17, 17, 0.93) no-repeat center center;
    background-size: cover;
    overflow: hidden;
    . background: center; 
    
}*/
article.hentry .read-more{

    padding-right: 0px;
    padding-left: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    text-decoration: none;
    box-shadow: none;
    /* margin-top: 10px; */

}

/*"~-,._.,-~"~-,._.,-~"~-,._.,-~"~-| First Child Normal pl0x |-,._.,-~"~-,._.,-~"~-,._.,-~"*/

@media only screen and (min-width: 62.5em)
#post .entry-content>p:first-child, #page .entry-content>p:first-child {
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.3;
    margin-bottom: 26px;
    margin-bottom: 1.625rem;
}

/*"~-,._.,-~"~-,._.,-~"~-,._.,-~"~-| darker text |-,._.,-~"~-,._.,-~"~-,._.,-~"*/
body {
    font-family: "Lato",Calibri,Arial,sans-serif;
    color: rgba(34,34,34,0.95);
/*                       ^^^^
*/
}