---
layout: post-index
---
<!-- <h1 class="category">{{ page.title }}</h1>
<ul class="posts">
{% for post in site.categories[page.category] %}
    <div>{{ post.date | date_to_html_string }}</div>
    <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
    <div class="categories">Filed under {{ post.categories | category_links }}</div>
{% endfor %}
 </ul> -->

 <!-- {% assign tags_list = site.categories %}  
  {% if tags_list.first[0] == null %}
    {% for tag in tags_list %} 
      <li><a href="#{{ tag }}">{{ tag | capitalize }} <span>{{ site.tags[tag].size }}</span></a></li>
    {% endfor %}
  {% else %}
    {% for tag in tags_list %} 
      <li><a href="#{{ tag[0] }}">{{ tag[0] | capitalize }} <span>{{ tag[1].size }}</span></a></li>
    {% endfor %}
  {% endif %}
{% assign tags_list = nil %} -->
<!-- </ul>  -->
<!-- MOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO -->
<!-- {% IO_DirUp %} -->


<!-- <article class="hentry">
<header>
  <h1 class="entry-title">Categories:</h1>
</header>
<div class="entry-content">
  <ul class="post-list">
  {% assign tags_list = site.categories %}  
  {% if tags_list.first[0] == null %}
    {% for tag in tags_list %} 
      <li><a href="#{{ tag }}"><span><i class="fa fa-file"></i> {{ site.tags[tag].size }} - </span>{{ tag | capitalize }}</a></li>
    {% endfor %}
  {% else %}
    {% for tag in tags_list %} 
      <li><a href="#{{ tag[0] }}"><span><i class="fa fa-file"></i> {{ tag[1].size }} - </span>{{ tag[0] | capitalize }}</a></li>
    {% endfor %}
  {% endif %}
{% assign tags_list = nil %}
</ul>
  </div>
</article> -->
<!-- LOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOo -->
{% for tag in site.categories %} 
{% capture foo %}{% IO_DirUpEx %}{% endcapture %}
{% if tag[0] == foo %}
    {% assign pages_list = tag[1] %}  
    {% for post in pages_list %}
 <article class="hentry">
   <div class="entry-meta">
      <span class="entry-date date published updated"><time datetime="{{ post.date | date_to_xmlschema }}"><a href="{{ site.url }}{{ post.url }}">{{ post.date | date: "%B %d, %Y" }}</a></time></span><span class="author vcard"><span class="fn"><a href="{{ site.url }}/about/" title="About {{ site.owner.name }}">{{ site.owner.name }}</a></span></span><span> on <a href="{{ site.url}}/{{ post.categories }}">{{ post.categories }}</a>
      {% if site.reading_time %}
      <span class="entry-reading-time">
        <i class="fa fa-clock-o"></i>
        {% include read-time-index.html %}
      </span><!-- /.entry-reading-time -->
      {% endif %}
    </div><!-- /.entry-meta -->
{% if post.image.feature %}
      <div class="postimg" style="background-image: url({{ site.url }}/images/{{ post.image.feature }});">
        <a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">
          <!-- <img src="{{ site.url }}/images/{{ post.image.feature }}" alt="{{ post.title }}"> -->
        </a>
      </div><!-- /.entry-image -->
    {% endif %}
<div class="pzpost">
  <header>
    {% if post.link %}
      <h1 class="entry-title"><a href="{{ site.url }}{{ post.url }}" class="permalink" rel="bookmark" title="{{ post.title }}"><i class="fa fa-bookmark"></i></a> <a href="{{ post.link }}">{{ post.title }}</a></h1>
    {% else %}
      <h1 class="entry-title"><a href="{{ site.url }}{{ post.url }}" rel="bookmark" title="{{ post.title }}" itemprop="url">{{ post.title }}</a></h1>
    {% endif %}
  </header>
  <div class="entry-content"><p>{{ post.content | truncatewords: 26 }} <a class="read-more" href="{{ site.baseurl }}{{ post.url }}">Read More &raquo;</a></p></div><!-- /.entry-content -->
</div>
</article>
            {% endfor %}
{% endif %}
{% endfor %}