<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include head.html %}
<script>
  $(function() {
    $('a[href*=#]:not([href=#])').click(function() {
      if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {

        var target = $(this.hash);
        target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
        if (target.length) {
          $('html,body').animate({
            scrollTop: target.offset().top
          }, 1000);
          return false;
        }
      }
    });
  });
  </script>
</head>

<body id="post-index" {% if page.image.feature %}class="feature"{% endif %}>

{% include browser-upgrade.html %}
{% include navigation.html %}
{% if page.title == 'Home' %}
<div class="entry-header-home">
  {% else %}
<div class="entry-header">
{% endif %}
  {% if page.image.credit %}<div class="image-credit">Image source: <a href="{{ page.image.creditlink }}">{{ page.image.credit }}</a></div><!-- /.image-credit -->{% endif %}
  {% if page.image.feature %}
    <div class="entry-image">
    {% if page.title == 'Home' %}
      <h1 style="
    text-align: center;
    vertical-align: middle;
    line-height: 90px;
    /* padding-left: 50%; */
">PixelZerg
</h1>
  <i class="fa fa-angle-down" style="
    font-family: FontAwesome;
    font-size: 4rem;
    color: whitesmoke;
    transform: translateZ(5px);
    position: initial;
    /* padding-left: 48%; */
    /* vertical-align: middle; */
    display: block;
    vertical-align: middle;
    text-align: center;
"></i>
 {% endif %}
    </div>
  {% endif %}
  <div class="header-title">
    <div class="header-title-wrap">
    {% if page.title == 'Home' %}
      {% else %}
      <h1>{{ site.title }}</h1>
      <!-- <img src="{{ site.url}}/images/PZ/G1BigF2BasicShade2RS.png" -->
      <h2>{{ page.title }}</h2>
      {% endif %}
    </div><!-- /.header-title-wrap -->
  </div><!-- /.header-title -->
</div><!-- /.entry-header -->

<!-- <div id="main" role="main"> -->
  {{ content }}
<!-- </div>/#main -->

<div class="footer-wrapper">
  <footer role="contentinfo">
    {% include footer.html %}
  </footer>
</div><!-- /.footer-wrapper -->

{% include scripts.html %}          

</body>
</html>